@charset "utf-8";
/*
   todos os identificadores em HTML é id = em CSS é # para perssonalizar separadamente cada elemento (só pode um elemento)
   em HTML é class = em CSS é .(pode vários elementos)
*/
body {
    background-color: rgb(98, 219, 219);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(11, 160, 11);
}
h1#principal {
    text-align: center ;
    background-color: rgb(13, 110, 13);
    color: white;
    font-size: 40px;}

h2 {
    color: rgba(10, 85, 10, 0.979);
}
.basico {
    color: rgba(10, 85, 10, 0.979);
    font-weight: bold;
}
.intermediario {
    color: rgba(183, 201, 25, 0.979);
}
.avancado {
    color: rgba(85, 27, 10, 0.979);
}
.destaque {
    background-color: #9696405b
}